body {
  display: grid;
  place-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80vh; /* Container의 최대 너비 설정 */
  margin: 20px auto; /* 화면 가운데 정렬 및 상하 여백 설정 */
  padding: 20px; /* 내부 여백 설정 */

}
